.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/hotelesmat.appspot.com/o/hotelBob.jpg?alt=media&token=4cb8f8b1-50c9-4dab-a369-1d871cd90a0c');
    background-position: top center;
    background-size: cover;
    padding: 10% 30% 40% 8%;
}